@model Lowtel.Models.User

@{
	ViewData["Title"] = "Login";
}

<h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Login">
			<div class="form-group">
                <div class="ErrMsg">
                    @ViewData["ErrMessage"]
                </div>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" required />
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" required/>
            </div>
			<div class="form-group">
				<input type="submit" value="Login" class="btn btn-default" />
			</div>
		</form>
	</div>
</div>