@model Lowtel.Models.User

@{
	ViewData["Title"] = "Login";
}

<h2>Login</h2>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="CheckAuthenticate">
			<div class="form-group">
				<label asp-for="UserName" class="control-label"></label>
				<input asp-for="UserName" class="form-control" />
				<br /><br />
			<div class="form-group">
				<label asp-for="Password" class="control-label"></label>
				<input asp-for="Password" class="form-control" />
			</div>
			<div class="form-group">
				<input type="submit" value="Login" class="btn btn-default" />
			</div>
		</form>
	</div>
</div>


@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}