@model User
@{
	ViewBag.Title = "Register";
}
<h1>Register</h1>

<form method="post" asp-controller="Account" asp-action="Register">
	<div asp-validation-summary="All"></div>

	<div>
		<label asp-for="FirstName"></label>
		<input asp-for="FirstName" />
		<span asp-validation-for="FirstName"></span>
	</div>

	<div>
		<label asp-for="LastName"></label>
		<input asp-for="LastName" />
		<span asp-validation-for="LastName"></span>
	</div>

	<div>
		<label asp-for="Email"></label>
		<input asp-for="Email" />
		<span asp-validation-for="Email"></span>
	</div>

	<div>
		<label asp-for="Password"></label>
		<input asp-for="Password" />
		<span asp-validation-for="Password"></span>
	</div>

	<div>
		<input type="submit" value="Register" />
	</div>

</form>