@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<div>
    <h3>Management:</h3>
    <p>Founders of the Lowtel company - <b>Yonathan Tzur, Nofar Israeli and Niv Hojberg</b>.</p>
</div>
<hr />
<div>
    <h3>Market Share:</h3>
    <p>
        The Lowtel chain comprises 13 hotels, totaling 3,816 rooms. <br />
        Lowtel manages and operates five business lounges and a VIP lounge at Ben Gurion Airport, in conjuction with other businesses.
        The chain also owns and manages the "King David Towers" in Tel Aviv, including appartments and commercial space. <br />
        Lowtel operates two vocational schools (hotel service and culinary school) - the Lowtel Gourmet Tel Aviv and the Lowtel Gourmet Haifa.
    </p>
</div>
<div>
    <h3>Personal:</h3>
    <p>The Lowtel Chain employs some 2,500 staff members.</p>
</div>
<div>
    <h3>Occupancy:</h3>
    <p>
        Tourists made up about 54% of all overnight stays at the Lowtel Hotel chain in 2018 and the rest were Israeli vacationers.
    </p>
</div>
<div>
    <h3>Marketing and Sales:</h3>
    <p>
        Lowtel Hotels is represented by a New York office handling North American and Canadian Sales and Marketing. <br />
        Lowtel Hotels also maintains ties with large agencies and tour operators in Israel and abroad.
        Marketing is planned and executed by the head office in Tel Aviv.
        In addition, under the direction of the head office, each hotel is responsible for its individual sales. <br />
        McCANN is the advertising agency representing the Lowtel Hotels.
        Public relations is handled by Rahav Communications Ltd, Sue Newman is responsible for overseas public relations and Geoffrey Weill and Associates represent the Lowtel Hotels in North America. <br />
        Lowtel Hotels operates the 'Call Lowtel' Central Reservations Center, servicing the public, tour and travel agents and corporate clients.
    </p>
</div>
<div>
    <h3>Business Services:</h3>
    <p>
        The Lowtel Hotels Corporation specializes in answering the special needs of business guests, including clubs, business lounges, and providing today's most advanced technology and equipment.
    </p>
</div>
<div>
    <h3>Company Structre:</h3>
    <p>
        Lowtel Hotels management is headed by the Presidents of the Company who are the founders of the company as well. <br />
        The Presidents are assisted by the professional division heads.
        The divisions are divided as follows: Organization and Human Resources, Finance, Marketing and Sales,
        Technical Division (construction and renovation), Food and Beverages, Information Technology, Purchasing and Control.
    </p>
</div>
<div>
    <h3>Operation:</h3>
    <p>
        Each Lowtel Hotel is managed as a profit center measured on the basis of its professional and commercial results. <br />
        The management of the chain, located at 111 Hayarkon Street in Tel Aviv has an effective supervisory network through its professional divisions,
        ensuring compliance with the standards and objectives that have been set.
        It obliges the hotels to meet professional standards by means of clear procedures in every professional field,
        in order to ensure uniformly high service level as well as quality personnel and management. <br />
        This uniform standard is also achieved through professional instruction and training activities carried out by the Company Training Department and at the 'Lowtel Gourmet' School.
        The school assembles all the chain's training programs under one roof and enables each employee and manager to acquire knowledge and skills to better realize his/her professional,
        leadership and personal potential.
    </p>
</div>