@{
    ViewData["Title"] = "Contact Us";
    ViewData["Message"] = "Get in touch with us by address, phone or email.";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <span class="glyphicon glyphicon-map-marker"></span>
    123 Microsoft Way<br />
    Tel Aviv, ISR 98765-4321
</address>

<address>
    <span class="glyphicon glyphicon-earphone"></span>
    (000) 012-3456
</address>

<address>
    <span class="glyphicon-envelope"></span>
    <strong>Support:</strong>
    <a href="mailto:Support@lowtel.com">Support@lowtel.com</a>
    <br />
    <span class="glyphicon-envelope"></span>
    <strong>Marketing:</strong>
    <a href="mailto:Marketing@lowtel.com">Marketing@lowtel.com</a>
</address>