@{
    ViewData["Title"] = "Lowtel";
}

<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-3">
        <div class="index-menu-box">
            <a asp-controller="Hotels" asp-action="Index"><h2>Hotels</h2></a>
            <p>
                Check our high quality hotels with low prices across the world.
            </p>
        </div>
        <div class="index-menu-box">
            <a asp-controller="Home" asp-action="About"><h2>About</h2></a>
            <p>
                Read more information about our company.
            </p>
        </div>
    </div>
    <div class="col-md-4 logo-container">
        <img src="~/images/Logo.png" alt="ASP.NET" style="width: 100%" />
    </div>
    <div class="col-md-3">
        <div class="index-menu-box">
            <a asp-controller="Reservations" asp-action="Index"><h2>Reservations</h2></a>
            <p>
                Reserve your next vacation right now.
            </p>
        </div>
        <div class="index-menu-box">
            <a asp-controller="Home" asp-action="Contact"><h2>Contact</h2></a>
            <p>
                Get in touch with us by address, phone or email.
            </p>
        </div>
    </div>
    <div class="col-md-1">
    </div>
</div>
<div>
    <h2>Hotels Map</h2>
    <p>
        <a asp-controller="Hotels" asp-action="Index">Click here</a> to check our high quality hotels with low prices across the world.
    </p>
    <div id="bingMap"></div>

    <script type="text/javascript">
        function bingMapCallback() {
            new Microsoft.Maps.Map(document.getElementById("bingMap"), {
                credentials: '8jdU9kPTCEzVmyT3jRkU~rm3ZVd7SbAdEPp8lygIm8A~AuLnSHivAFETHCaowja_dJ75w4ff92UyxgW5RNfOMUaAVfTUeYeCj5oKEzjm4ItE'
            });
        }
    </script>
    <script type="text/javascript"
            src="https://www.bing.com/api/maps/mapcontrol?callback=bingMapCallback&key=8jdU9kPTCEzVmyT3jRkU~rm3ZVd7SbAdEPp8lygIm8A~AuLnSHivAFETHCaowja_dJ75w4ff92UyxgW5RNfOMUaAVfTUeYeCj5oKEzjm4ItE&setLang=en"
            async defer></script>
</div>