@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-3">
        <div class="index-menu-box">
            <a asp-controller="Home" asp-action="Hotels"><h2>Hotels</h2></a>
            <p>
                Check our high quality hotels with low prices across the world.
            </p>
        </div>
        <div class="index-menu-box">
            <a asp-controller="Home" asp-action="About"><h2>About</h2></a>
            <p>
                Read more information about our company.
            </p>
        </div>
    </div>
    <div class="col-md-4 logo-container">
        <img src="~/images/Logo.png" alt="ASP.NET" style="width: 100%" />
    </div>
    <div class="col-md-3">
        <div class="index-menu-box">
            <a asp-controller="Home" asp-action="Reservation"><h2>Reservation</h2></a>
            <p>
                Reserve your next vacation right now.
            </p>
        </div>
        <div class="index-menu-box">
            <a asp-controller="Home" asp-action="Contact"><h2>Contact</h2></a>
            <p>
                Get in touch with us by address, phone or email.
            </p>
        </div>
    </div>
    <div class="col-md-1">
    </div>
</div>